
@using Schminder_Net.ef

@{
    ViewData["Title"] = "Home Page";
    mApp _m_App = @Model;
    var _set = _m_App._c_setting;
    var _blogs = _m_App._cBlogs;

    cPageData? _pd = _m_App._cPageData;

    Dictionary<Guid, List<cProductData>>? _prdll = _m_App._cProductDatas;
    var _prd_grp = _prdll!.GroupBy(prd => prd.Key).ToList();
    string carousel_active = "active";
    ViewData["Title"] = _pd?.pdContent("id_page_header");
}

<div class="text-center">
    <h1 class="display-4 text-white" style="font-family: cursive"><span style="background-color: chocolate">@(_set?.gset("AppName")!)</span> - Scheduling medication reminder and prescription scanner</h1>
    <img src="@Url.Content("~/schminder_net_data/marketing/schminder_googleplay_drugtime.jpg")" alt="Schminder Logo" class="img-fluid" />
</div>
