
@using Schminder_Net.ef;

@{
    Layout = "/Views/Shared/_Layout_Admin.cshtml";

    mApp _mApp = @Model;
    var _prds = _mApp._cProductDatas;


    ViewData["Title"] = "Admin";
}


<h2>Product Data List</h2>
<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="@Url.Content($"~/admin/productdataitem/{Guid.Empty}")" class="link-secondary"> <svg class="bi"><use xlink:href="#plus-circle" /></svg></a></td>
                <td>New product</td>
                <td></td>
                <td></td>
            </tr>
            @foreach (KeyValuePair<Guid, List<cProductData>> _prd_kv in _prds!)
            {
                foreach (cProductData _prd in _prd_kv.Value)
                {
                    <tr>
                        <td><a href="@Url.Content($"~/admin/productdataitem/{_prd.prdId}")" class="link-secondary"> <svg class="bi"><use xlink:href="#plus-circle" /></svg></a></td>
                        <td>@Html.Raw(_prd.prdTitle)</td>
                        <td>@Html.Raw(_prd.prdDesc)</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

